@page "/task-list/{id:int}/confirm-general-information/diocesan-multi-academy-trust"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.GeneralInformationSection.ConfirmGeneralInformation.Page;
	ViewData["Title"] = "Diocesan multi-academy trust";
	var values = new[] { "true", "false" };
	var labels = new[] { "Yes", "No" };
}

@section BeforeMain
{
	<a back-link-for="@Links.GeneralInformationSection.ConfirmGeneralInformation"></a>
}

<h1 class="govuk-heading-l">Is this a diocesan multi-academy trust (MAT)?</h1>
<govuk-radios-input name="diocesan-multi-academy-trust" asp-for="Project.IsThisADiocesanTrust" values="@values" labels="@labels" />
