@page "/task-list/{id:int}/confirm-general-information/financial-deficit"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.GeneralInformationSection.ConfirmGeneralInformation.Page;
	ViewData["Title"] = "Financial deficit";
	var values = new[] { "Yes", "No" };
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.GeneralInformationSection.ConfirmGeneralInformation" />
}

<h1 class="govuk-heading-l">Is there a financial deficit at the school in its current financial year?</h1>
<govuk-radios-input name="financial-deficit" asp-for="Project.FinancialDeficit" values="@values" labels="@values" />
