@page "/task-list/{id:int}/confirm-general-information/viability-issues"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.GeneralInformationSection.ConfirmGeneralInformation.Page;
	ViewData["Title"] = "Viability issues";
	var values = new[] { "Yes", "No" };
}

@section BeforeMain
{
	<a back-link-for="@Links.GeneralInformationSection.ConfirmGeneralInformation"></a>
}

<h1 class="govuk-heading-l">Are there viability issues at the school?</h1>
<govuk-radios-input name="viability-issues" asp-for="Project.ViabilityIssues" values="@values" labels="@values" />