@page "/task-list/{id:int}/confirm-general-information/viability-issues"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.GeneralInformationSection.ConfirmGeneralInformation.Page;
	ViewData["Title"] = "Viability issues";
}

@section BeforeMain
{
	<a back-link-for="@Links.GeneralInformationSection.ConfirmGeneralInformation"></a>
}

<h1 class="govuk-heading-l">Are there viability issues at the school?</h1>
<div class="govuk-form-group">
	<div class="govuk-radios">
		<div class="govuk-radios__item">
			<input class="govuk-radios__input" id="viability-issues" name="viability-issues" type="radio" value="Yes" asp-for="Project.ViabilityIssues">
			<label class="govuk-label govuk-radios__label" for="viability-issues">
				Yes
			</label>
		</div>
		<div class="govuk-radios__item">
			<input class="govuk-radios__input" id="viability-issues-2" name="viability-issues" type="radio" value="No" asp-for="Project.ViabilityIssues">
			<label class="govuk-label govuk-radios__label" for="viability-issues-2">
				No
			</label>
		</div>
	</div>
</div>
