@page "/task-list/{id:int}/rationale"
@model ApplyToBecomeInternal.Pages.TaskList.IndexModel

<span class="govuk-caption-l">@Model.Project.SchoolName</span>
<h1 class="govuk-heading-l">
	Confirm project and trust rationale
</h1>

<p>
	This information is pre-populated from the
	@* sort this link *@
	<a href="/related/application_newtab" target="_blank">school's application form (opens in a new tab)</a>.
</p>



