@page "/school-application-form/{id:int}"
@model ApplyToBecomeInternal.Pages.ApplicationForm.IndexModel
@{
	ViewData["Title"] = "School application form";
}

@section BeforeMain
{
	<a asp-page="@Links.ProjectList.Index.Page" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}

<partial name="_ProjectHeader" model="Model.Project" />

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		@foreach (var formSection in Model.Sections)
		{
			<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">@formSection.Heading</h2>
			<dl class="govuk-summary-list">
				@foreach (var sectionField in formSection.Fields)
				{
					<partial name="_ApplicationFormField" model="sectionField" />
				}
			</dl>

			@foreach (var subSection in formSection.SubSections)
			{
				<h3 class="govuk-heading-m govuk-!-margin-bottom govuk-!-font-size-24">@subSection.Heading</h3>
				<dl class="govuk-summary-list">
					@foreach (var sectionField in subSection.Fields)
					{
						<partial name="_ApplicationFormField" model="sectionField" />
					}
				</dl>
			}
		}
	</div>
</div>
