TramsApi__Endpoint=
TramsApi__ApiKey=
TemplateFeedback=
SupportEmail=
Sharepoint__Url=
Sharepoint__Enabled=True
ServiceLink__TransfersUrl=/transfers
Mfsp__ApiKey=
Mfsp__ApiEndpoint=https://localhost:3001
Kestrel__Certificates__Default__Password=
CypressTestSecret=
ConnectionStrings__RedisCache=redis:6379
AzureAd__ClientSecret=
AzureAd__TenantId=
AzureAd__ClientId=
ApplicationInsights__ConnectionString=
ApplicationInsights__BrowserAnalyticsEnabled=False
AccessRequest=
AcademisationApi__BaseUrl=https://localhost:7099/
AcademisationApi__ApiKey=
