<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/main.css"/>
</head>
<body>
	<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
	<header>
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
	</footer>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/govuk.js"></script>
	<script>window.GOVUKFrontend.initAll()</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>