@model ApplyToBecomeInternal.ViewModels.ProjectViewModel

<span class="govuk-caption-xl">@Model.SchoolURN</span>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
	@Model.SchoolName
	<strong class="govuk-tag govuk-tag--grey">@Model.Phase</strong>
</h1>