@model ProjectViewModel;


<nav class="moj-primary-navigation" aria-label="Primary navigation">

	<ul class="moj-primary-navigation__list">

		@{ if (Model.Section == "ProjectNotes")
			{
				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/task-list/@Model.Id" >Task List</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/application-form/@Model.Id">Application Form</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" aria-current="page" href="/project-notes/@Model.Id" >Project Notes</a>
				</li>
			}
			else if (Model.Section == "ApplicationForm")
			{
				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/task-list/@Model.Id" >Task List</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" aria-current="page" href="/application-form/@Model.Id">Application Form</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/project-notes/@Model.Id">Project Notes</a>
				</li>
			}
			else
			{
				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" aria-current="page" href="/task-list/@Model.Id" >Task List</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/application-form/@Model.Id">Application Form</a>
				</li>

				<li class="moj-primary-navigation__item">
					<a class="moj-primary-navigation__link" href="/project-notes/@Model.Id" >Project Notes</a>
				</li>
			}
		}
	</ul>
</nav>