@using ApplyToBecomeInternal.Models.Shared
@model SubMenuViewModel;

<nav class="moj-primary-navigation govuk-!-margin-bottom-7" aria-label="Primary navigation">
	<ul class="moj-primary-navigation__list">
		<li class="moj-primary-navigation__item">
			<a class="moj-primary-navigation__link" @(Model.Page==SubMenuPage.TaskList? "aria-current=\"page\"" : string.Empty) href="/task-list/@Model.ProjectId">Task List</a>
		</li>

		<li class="moj-primary-navigation__item">
			<a class="moj-primary-navigation__link" @(Model.Page == SubMenuPage.ApplicationForm? "aria-current=\"page\"" : string.Empty) href="/application-form/@Model.ProjectId">Application Form</a>
		</li>

		<li class="moj-primary-navigation__item">
			<a class="moj-primary-navigation__link" @(Model.Page == SubMenuPage.ProjectNotes? "aria-current=\"page\"" : string.Empty) href="/project-notes/@Model.ProjectId" >Project Notes</a>
		</li>
	</ul>
</nav>