@using ApplyToBecomeInternal.ViewModels
@model ApplyToBecomeInternal.ViewModels.SubMenuViewModel;

<nav class="moj-sub-navigation" aria-label="Sub navigation">
	<ul class="moj-sub-navigation__list">
		<li class="moj-sub-navigation__item">
			<sub-menu title="Task list" 
					  current-page="@Model.Page == SubMenuPage.TaskList ? SubMenuPage.TaskList : SubMenuPage.NotHighlighted" 
					  url="/task-list/@Model.ProjectId">
			</sub-menu>
		</li>
		<li class="moj-sub-navigation__item">
			<sub-menu title="School application form" 
					  current-page="@Model.Page == SubMenuPage.SchoolApplicationForm ? SubMenuPage.SchoolApplicationForm : SubMenuPage.NotHighlighted" 
					  url="/school-application-form/@Model.ProjectId">
			</sub-menu>
		</li>
		<li class="moj-sub-navigation__item">
			<sub-menu title="Project notes" 
					  current-page="@Model.Page == SubMenuPage.ProjectNotes ? SubMenuPage.ProjectNotes : SubMenuPage.NotHighlighted" 
					  url="/project-notes/@Model.ProjectId">
			</sub-menu>
		</li>

	</ul>
</nav>