@using ApplyToBecomeInternal.ViewModels
@model ApplyToBecomeInternal.ViewModels.SubMenuViewModel;

<nav class="moj-sub-navigation" aria-label="Sub navigation">
	<ul class="moj-sub-navigation__list">
		<li class="moj-sub-navigation__item">
			<a class="moj-sub-navigation__link" @(Model.Page==SubMenuPage.TaskList? "aria-current=page" : string.Empty) href="/task-list/@Model.ProjectId">Task list</a>
		</li>

		<li class="moj-sub-navigation__item">
			<a class="moj-sub-navigation__link" @(Model.Page == SubMenuPage.ApplicationForm? "aria-current=page" : string.Empty) href="/application-form/@Model.ProjectId">Application form</a>
		</li>

		<li class="moj-sub-navigation__item">
			<a class="moj-sub-navigation__link" @(Model.Page == SubMenuPage.ProjectNotes? "aria-current=page" : string.Empty) href="/project-notes/@Model.ProjectId" >Project notes</a>
		</li>
	</ul>
</nav>