@using Dfe.Academisation.ExtensionMethods
@model Dfe.PrepareTransfers.Web.Models.CommonPageModel
<div data-cy="approved-message_banner"> 
   <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
         <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
         </h2>
      </div>
      <div class="govuk-notification-banner__content">
         <p class="govuk-notification-banner__heading">
            Project approved
         </p>
         <p class="govuk-body">
            This project was approved and moved to Complete conversions transfers and changes on @Model.ProjectSentToCompleteDate.ToDateString().
         </p>
         <p class="govuk-body">
            You cannot make changes to this project in Prepare.
         </p>
      </div>
   </div>
</div>