@model SchoolPupilForecastsCurrentYearViewModel
<tr class="govuk-table__row">
   <th scope="row" class="govuk-table__header ">Current year</th>
   <td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearCapacity</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">@Model.CurrentYearPupilNumbers</td>
   <td class="govuk-table__cell govuk-table__cell--numeric">@Model.PercentageSchoolFull</td>
</tr>