@page "/task-list/{id:int}/confirm-school-pupil-forecasts/additional-information"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Model.SuccessPage = Links.SchoolPupilForecastsSection.ConfirmSchoolPupilForecasts.Page;
	ViewData["Title"] = "School pupil forecasts additional information";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolPupilForecastsSection.ConfirmSchoolPupilForecasts"/>
}

@if (Model.ShowError)
{
	<partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			School pupil forecasts
		</h1>
		<div class="govuk-body">
			<p>
				This information comes from TRAMS and the
				<a asp-page="@Links.SchoolApplicationForm.Index.Page" asp-route-id="@Model.Project.Id" target="_blank">school's application form (opens in a new tab)</a>.
				The table will populate your project template.
			</p>
			<p>
				You can add <a href="#additional-information">additional information</a> if you need to, this will also populate your project template.
			</p>
		</div>
	</div>
	<div class="govuk-grid-column-full">
		<partial name="_SchoolPupilForecastsTable" model="Model.Project"/>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<form method="post">
			<h2 class="govuk-heading-m">
				<label for="additional-information">
					Add any additional information if you need to
				</label>
			</h2>
			<p class="govuk-body">This information will populate your project template under the school pupil forecasts section.</p>

			<govuk-textarea-input id="additional-information" name="school-pupil-forecasts-additional-information" asp-for="Project.SchoolPupilForecastsAdditionalInformation" rows="5"/>

			<button class="govuk-button" data-module="govuk-button">
				Save and continue
			</button>
		</form>
	</div>
</div>