@model ApplyToBecomeInternal.ViewModels.ProjectViewModel

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-xl">URN @Model.SchoolURN</span>
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
			@Model.SchoolName
		</h1>
		<partial name="_SubMenu" />
	</div>
</div>
