@using ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.Helpers
@using ApplyToBecomeInternal.Utils
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ApplyToBecomeInternal.ViewModels.ProjectViewModel
@inject ApplyToBecome.Data.Services.Interfaces.IAcademyConversionAdvisoryBoardDecisionRepository decisionRepository

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">URN @Model.SchoolURN</span>
        <h1 class="govuk-heading-xl" @Select.Heading.ToData("cy")>
            @Model.SchoolName
        </h1>

    </div>
    @if (!string.IsNullOrEmpty(Context.Request.Query["rd"]))
    {

        @(await Component.InvokeAsync("RecordDecisionPreview", new { id = int.Parse(Model.Id) }))
    }
    <div class="govuk-grid-column-full">
        <partial name="_SubMenu" />

    </div>
</div>
