@model ApplyToBecomeInternal.ViewModels.ProjectViewModel

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<span class="govuk-caption-xl">URN @Model.SchoolURN</span>
		<h1 class="govuk-heading-xl govuk-!-margin-bottom">
			@Model.SchoolName
		</h1>
        <h2 class="govuk-heading-l govuk-!-margin-bottom">School application form </h2>
	</div>
</div>
<nav class="gem-c-contents-list" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click"> <h2 class="gem-c-contents-list__title"> Contents</h2>
    <ol class="gem-c-contents-list__list">
      <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Overview"> Overview</a></li> 
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#About">About the conversion</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Further">Further information</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Finances">Finances</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Future">Future pupil numbers</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Land">Land and buildings</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Pre-opening">Pre-opening support grant</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Consultation">Consultation</a></li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed"> <a class="gem-c-contents-list__link govuk-link" href="#Declaration">Declaration</a></li>
    </ol>
 </nav>
 <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
