@page "/task-list/{id:int}/legal-requirements/legal-governing-body"
@model ApplyToBecomeInternal.Pages.TaskList.LegalRequirements.LegalGoverningBodyModel

@section BeforeMain
{
	<a asp-page="@Links.LegalRequirements.Summary.Page" asp-route-id="@Model.Id" class="govuk-back-link">Back</a>
	<partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <form action="legal-summary1" method="post">
         <input hidden="" type="text" name="returnToSummary" value="no">
         <span class="govuk-caption-l">@Model.SchoolName</span>
         <h1 class="govuk-heading-l">Has the school provided a governing body resolution?</h1>

         <div class="govuk-form-group">
            <div class="govuk-radios">
               <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="legal-governing-body-checked"
                     name="legal-governing-body-checked" type="radio" value="Yes">
                  <label class="govuk-label govuk-radios__label" for="legal-governing-body-checked">
                     Yes
                  </label>
               </div>

               <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="legal-governing-body-checked-2"
                     name="legal-governing-body-checked" type="radio" value="No">
                  <label class="govuk-label govuk-radios__label" for="legal-governing-body-checked-2">
                     No
                  </label>
               </div>

               <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="legal-governing-body-checked-3"
                     name="legal-governing-body-checked" type="radio" value="Not applicable">
                  <label class="govuk-label govuk-radios__label" for="legal-governing-body-checked-3">
                     Not applicable
                  </label>
               </div>
            </div>
         </div>

         <button class="govuk-button" data-module="govuk-button">
            Save and continue
         </button>
      </form>
   </div>

   <!-- right hand nav -->
   <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
         <h2 class="govuk-heading-s" id="subsection-title">
            Useful information
         </h2>
         <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
               <li>
                  <a class="govuk-link" href="#">

                  </a>
               </li>
               <li>
                  <p class="govuk-body-s"><a href="../related/application_newtab" target="application">School
                        application form (opens in a new tab)</a></p>
               </li>
            </ul>
         </nav>
      </aside>
   </div>
</div>