@page "/start-new-project/new-conversion-project"
@using Dfe.PrepareConversions.Pages.Shared
@model Dfe.PrepareConversions.Pages.SponsoredProject.NewConversionInformation

@{
    Layout = "_Layout";
    ViewBag.Title = (!ViewData.ModelState.IsValid ? "Error: " : "") + "Create a new conversion";
    var routeParams = new Dictionary<string, string>
   {
      { "urn", Request.Query["urn"] },
      { "ukprn", Request.Query["ukprn"] }
   };
}

@section BeforeMain
    {
    <partial name="_BackLink" model="@(new BackLink(Links.ProjectList.Index.Page, routeParams))" />
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" data-id="form">
            <div class="govuk-form-group @ModelState.GetErrorStyleClass()">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl">
                        Create a new conversion
                    </label>
                </h1>
                <p>
                   Use this to create new conversion projects for:
                </p>
                <ul class="govuk-body">
                    <li>special educational needs schools</li>
                    <li>pupil referral units</li>
                    <li>conversions due to an inadequate Ofsted rating</li>
                    <li>conversions due to at least 2 requires improvement Ofsted ratings</li>
                    <li>applications to convert that could not be completed though Apply to become an academy</li>
                </ul>
                <p class="govuk-body">Do not use this form if the school has applied to convert through Apply to become an academy.</p>
                <p class="govuk-body">
                    All online applications are automatically added to the project list.
                </p>
            </div>
            <button class="govuk-button" type="submit" data-id="submit">Create a new conversion</button>
        </form>
    </div>
</div>