@page "/task-list/{id:int}/school-performance-ofsted-information"
@using Dfe.PrepareConversions.TagHelpers
@model Dfe.PrepareConversions.Pages.BaseAcademyConversionProjectPageModel
@{
   ViewData["Title"] = "School performance (Ofsted information)";
}

@section BeforeMain
{
   <govuk-back-link data-cy="ofsted-info-back-btn" link-item="@Links.TaskList.Index"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">School performance (Ofsted information)</h1>
        <p class="govuk-body">This information comes from TRAMS. It is for reference only. It will not appear in the project document.</p>
      <br>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("SchoolPerformance", new { showAdditionalInformation = false, isPreview = false })
   </div>
</div>