@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/author"
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
   Layout = "_QuestionLayout";
   Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
   ViewData["Title"] = "Enter the full name of the author of this project template";
   ViewData["SchoolName"] = Model.Project.SchoolName;
   ViewData["ProjectId"] = Model.Project.Id;
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation"/>
}

<h1 class="govuk-label-wrapper">
   <label class="govuk-label govuk-label--l" for="author">
      Enter the full name of the author of this project template
   </label>
</h1>
<govuk-text-input name="author" id="author" asp-for="Project.Author" width="20" hint="Entering the person's name will not send the template to them. You will still need to add the template to Sharepoint when you download it."/>