@page "/task-list/{id:int}/conversion-details"
@using Dfe.PrepareConversions.TagHelpers
@using Dfe.PrepareConversions.Data.Models
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
   Model.SuccessPage = Links.TaskList.Index.Page;
   ViewData["Title"] = "Confirm school and trust information and project dates";
   ViewData["AcademyTypeAndRoute"] = Model.Project.AcademyTypeAndRoute;
}

@section BeforeMain
{
   <govuk-back-link link-item="@Links.TaskList.Index"/>
}

@if (Model.ShowError)
{
   <partial name="_ErrorSummary"/>
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">@Model.Project.SchoolName</span>
      <h1 class="govuk-heading-l">
         Conversion details
      </h1>
      <div class="govuk-body">
         <partial name="Shared/_OpenApplicationFormNewTab"/>
            @if (ViewData["AcademyTypeAndRoute"].Equals(AcademyTypeAndRoutes.Sponsored))
         {
            <div class="govuk-body">
               <p data-test="annex-b-help">Some details have been taken from TRAMS. You can add more from<a asp-page="@Links.AnnexB.Index.Page" asp-route-id="@Model.Project.Id"> the Annex B form</a>.</p>
            </div>
         }
      </div>
   </div>
   <div class="govuk-grid-column-full">
      @await Component.InvokeAsync("SchoolAndTrustInformation")
      <form method="post">
         <govuk-checkbox-input name="school-and-trust-information-complete" asp-for="Project.SchoolAndTrustInformationSectionComplete" label="Mark this section as complete, you can still make changes later"/>

         <button class="govuk-button" id="confirm-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
            Confirm and continue
         </button>
      </form>
   </div>
</div>