@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/project-recommendation"
@model Dfe.PrepareConversions.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Recommendation";
	ViewData["SchoolName"] = Model.Project.SchoolName;
	ViewData["ProjectId"] = Model.Project.Id;
	var values = new[] { "Approve", "Defer", "Decline" };
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation" />
}

<h1 class="govuk-heading-l">What is the recommendation for this project?</h1>
<govuk-radios-input name="project-recommendation" asp-for="Project.RecommendationForProject" values="@values" labels="@values" />