@page "/project-notes/{id:int}/new-note"
@model ApplyToBecomeInternal.Pages.ProjectNotes.NewNoteModel

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		@section BeforeMain
		{
			<a asp-page="@Links.ProjectNotes.Index.Page" asp-route-id="@Model.Project.Id" class="govuk-back-link">@Links.ProjectNotes.Index.BackText</a>
		}
	</div>
</div>

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<span class="govuk-caption-l">@Model.Project.SchoolName</span>
		<h1 class="govuk-heading-l">
			Project notes
		</h1>
		<form method="post">
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="40">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" asp-for="subject">
						Subject
					</label>
					<textarea asp-for="subject" class="govuk-textarea govuk-js-character-count" id="subject" name="subject" rows="1" aria-describedby="subject-info subject-hint"></textarea><div id="subject-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 40 characters remaining</div>
				</div>
			</div>
			<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="500">
				<div class="govuk-form-group">
					<label class="govuk-label govuk-label--m" asp-for="body">
						Note
					</label>
					<textarea asp-for="body" class="govuk-textarea govuk-js-character-count" id="body" name="body" rows="5" aria-describedby="body-info"></textarea><div id="body-info" class="govuk-hint govuk-character-count__message" aria-live="polite">You have 500 characters remaining</div>
				</div>
			</div>
			<button type="submit" role="button" draggable="false" class="govuk-button govuk-button" data-module="govuk-button">
				Save note
			</button>
		</form>
	</div>
</div>