@page "/project-notes2/{id:int}"
@model ApplyToBecomeInternal.Pages.ProjectNotes2.IndexModel
@{
	ViewData["Title"] = "Project Notes";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		@section BeforeMain
		{
			<partial name="_Navigation" model="Model.Navigation" />
		}
		<partial name="_ProjectHeader" model="Model.Project" />
		<partial name="/Pages/Shared/_SubMenu.cshtml" model="Model.SubMenu" />
	</div>
</div>

<div class="govuk-grid-column-two-thirds-full">
	<h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Project notes</h2>
	<a asp-page="/ProjectNotes2/NewNote" asp-route-id="@Model.Project.Id" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add note</a>
</div>