@page "/task-list2/{id:int}/preview-headteacher-board-template"
@model ApplyToBecomeInternal.Pages.TaskList2.PreviewHTBTemplateModel

@{
	ViewBag.Title = "Preview headteacher board template";
}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
	Preview headteacher board (HTB) template
</h1>

<a href="#" class="govuk-button govuk-!-margin-bottom-2">Generate HTB papers</a>