/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import "node_modules/govuk-frontend/govuk/all.scss";
@import "node_modules/@ministryofjustice/frontend/moj/all.scss";
@import "./css/attachment.scss";
@import "./css/related-items.scss";
@import "./css/summary-card.scss";
@import "./css/task-list.scss";
@import "./css/cookie-banner.scss";

.moj-sub-navigation__link {
	font-weight: bold;
}

.app-align-right {
  text-align: right;
}
.prepare-text-align-right {
	text-align: right !important;
}
.autocomplete__option {
	font-family: Arial, sans-serif !important;
	font-weight: 400;
}
.app-\!-width-one-fifth {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 20% !important;
	}
}
.app-\!-width-two-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 40% !important;
	}
}
.app-\!-width-three-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 60% !important;
	}
}
.app-\!-width-four-fifths {
	width: 100% !important;
	@include govuk-media-query($from: tablet) {
		width: 80% !important;
	}
}

/* Prepare Styling */

.prepare-text-align-right {
	text-align: right !important;
}

.prepare-project-listing__filters-container {
	margin-bottom: 0;
}

.prepare-project-listing__filters-details {
	background-color: #f3f2f1;
	padding: 1rem;
	clear: both;
	margin-bottom: 2em;
	border-left: 0;
}

.prepare-project-listing__fitlers-details-summary:before {
	content: none;
}

.prepare-project-listing__fitlers-details-summary {
	padding-left: 0;
	margin-top: 1em;
}

.prepare-project-listing__button--main {
	margin-bottom: 1em;
	text-decoration: none;
}

.prepare-project-listing__filter {
	background-color: govuk-colour("white");
	overflow-y: auto;
	height: 200px;
}

.prepare-project-listing__conditional {
	border: 0;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	padding-left: 0 !important;
}

.prepare-project-listing__button--apply {
	background-color: govuk-colour("black");
	color: govuk-colour("white");
}

.prepare-project-listing__button--apply:hover {
	background-color: govuk-colour("light-grey");
}