@model ProjectNotesViewModel;
@{
	ViewData["Title"] = "Project Notes";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<partial name="_ProjectHeader" model="Model.Project"/>
		<partial name="/Views/Shared/_SubMenu.cshtml" model="Model.SubMenu" />
	</div>
</div>

