@model ApplyToBecomeInternal.Pages.TaskList.Decision.BackLinkModel
@{
    bool backToSumamry;
    bool.TryParse(Context.Request.Query["back-to-summary"], out backToSumamry);
    if (backToSumamry)
    {
        Model.LinkPage = Links.Decision.Summary.Page;
    }
}

<a asp-page="@Model.LinkPage" asp-route-id="@Model.LinkRouteId" class="govuk-back-link">@Model.LinkText</a>