@page "/task-list/{id:int}/decision/decision-date"
@model ApplyToBecomeInternal.Pages.TaskList.Decision.DecisionDate
@{
    ViewData["Title"] = "Decision date";
}
@section BeforeMain
{
    <a asp-page="@Model.GetPageNameForBackLink()" asp-route-id="@Model.Id" class="govuk-back-link">Back</a>
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <span id="selection-span" class="govuk-caption-l">@Model.SchoolName</span>
            <h1 class="govuk-heading-l">Date conversion was approved</h1>

            <form method="post">
                <div class="govuk-form-group">

                    <govuk-date-input heading-label="true" asp-for="@Model.DateOfDecision" hint="For example, 27 3 2021" />

                </div>

                <button class="govuk-button" data-module="govuk-button" id="submit-btn">
                    Continue
                </button>
            </form>
        </div>
    </div>