@model ProjectViewModel;
@{
	ViewData["Title"] = "Task List";
}


<div class="govuk-grid-row">
	<div class="govuk-column-full">
		<span class="govuk-caption-xl">@Model.SchoolURN</span>
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			@Model.SchoolName
			<strong class="govuk-tag govuk-tag--grey">@Model.Phase</strong>
		</h1>
	</div>
	<div class="govuk-grid-column-two-thirds">
		<h2 class="govuk-heading-l govuk-!-margin-bottom-2">Task list</h2>
		<div class="govuk-body">
			<p>The task list will help you prepare for the headteacher board (HTB) meeting. You can complete the tasks in any order. </p>
			<p>Some of the information in each task is already pre-populated from TRAMS and the school's application form. Some of the information you will need to fill out yourself.</p>
		</div>
		<br>
		<h2 class="app-task-list__section">Send local authority (LA) information template</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="LA-infromation-template">
						Send the LA information template
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="LA-infromation-template">
					Not Started
				</strong>
			</li>
		</ol>

		<h2 class="app-task-list__section">Create headteacher board (HTB) template</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8" aria-label="list of tasks">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="project-overview">
						Conversion overview
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="project-overview">
					Not Started
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="general-information">
						General information
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="general-information">
					Not Started
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="school-performance">
						School performance (Ofsted information)
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-performance">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="rationale-status">
						Rationale
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="rationale-status">
					Not Started
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="risks-and-issues">
						Risks and issues
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="rationale-status">
					Not Started
				</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="school-budget-information">
						School budget information
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-budget-informatiion">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="school-pupil-forecast">
						School pupil forecast
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="school-pupil-forecast">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="performance-tables">
						Key stage (KS) performance tables
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="performance-tables">Reference only</strong>
			</li>
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="supporting-information">
						Upload supporting documentation
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="supporting-information">Not started</strong>
			</li>
		</ol>
		<h2 class="app-task-list__section">
			Trust template
		</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8">
			<li class="app-task-list__item">
				<span class="app-task-list__task-name">
					<a class="govuk-link" href="#" aria-describedby="sponsor-template">
						Check and edit the trust template
					</a>
				</span>
				<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="sponsor-template">Not Started</strong>
			</li>
		</ol>
		<h2 class="app-task-list__section">
			Preview and generate HTB template
		</h2>
		<ol class="app-task-list govuk-!-margin-bottom-8">
			<a asp-controller="TaskList" asp-action="PreviewHTBTemplate" asp-route-id="@Model.Id" class="govuk-button govuk-!-margin-bottom-2">Preview HTB template</a>
		</ol>
	</div>
</div>