﻿@model TaskListViewModel;
@{
	ViewData["Title"] = "Task List";
}


<div class="govuk-grid-row">
	<div class="govuk-column-full">
		<span class="govuk-caption-xl">@Model.SchoolName</span>
		<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
			@Model.SchoolName
			<strong class="govuk-tag govuk-tag--blue">Pre HTB</strong>
		</h1>
	</div>
</div>