@model ApplyToBecomeInternal.ViewModels.ApplicationFormViewModel;

@{
	ViewBag.Title = "Preview headteacher board template";
}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
	Preview headteacher board (HTB) template
</h1>

<a asp-controller="TaskList" asp-action="GenerateHTBTemplate" asp-route-id="@Model.Project.Id" class="govuk-button govuk-!-margin-bottom-2">Generate HTB papers</a>