@page "/task-list/{id:int}/decision/dao-precursor"
@using Dfe.PrepareConversions.Data.Models.AdvisoryBoardDecision
@using Dfe.Academisation.ExtensionMethods
@model Dfe.PrepareConversions.Pages.TaskList.Decision.DAOPrecursorModel
@{
    ViewData["Title"] = $"Record DAO Revocation";
}

@section BeforeMain
{
    <partial name="_BackLink" model="@Model.BackLinkModel" />
    <partial name="_ErrorSummary" />
}

<span id="selection-span" class="govuk-caption-l">@Model.SchoolName</span>
<h1 class="govuk-heading-l">Record Directive Academy Order revocation</h1>

<form method="post">

    <p>Revoking a DAO (Directive Academy Order) will end this conversion project.</p>
    <p>This decision must be approved by a minister.</p>
    <p>You must also send a letter confirming the decision to the school’s governing body, and save this in the school’s SharePoint folder.</p>
    <p>If you choose to record the revocation of this project's Academy Order, you will need to enter information about:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>who made the decision</li>
        <li>why they made the decision</li>
        <li>when the decision was made</li>
    </ul>

    <button class="govuk-button" data-module="govuk-button" id="submit-btn">
        Continue
    </button>
</form>