@page "/task-list/{id:int}/record-a-decision"
@using Microsoft.IdentityModel.Tokens
@model Dfe.PrepareConversions.Pages.TaskList.Decision.IndexModel

@{
    ViewData["Title"] = "Record a decision";
}

@section BeforeMain
{
<a asp-page="@Model.ReturnPage" asp-route-id="@Model.ReturnId" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}
<partial name="_ProjectHeader" model="@Model.Project" />

<div class="govuk-grid-row">
    @await Component.InvokeAsync("RecordDecisionPreview", new { id = int.Parse(Model?.Project.Id ?? string.Empty), AcademyTypeAndRoute = Model.Project.AcademyTypeAndRoute, isReadOnly = Model.Project.IsReadOnly, hasAssignedOwner = (Model.Project.AssignedUser != null && Model.Project.AssignedUser.EmailAddress.Length > 0), hasAdvisoryBoardDate = Model.Project.HeadTeacherBoardDate.HasValue, hasProposedConversionDate = Model.Project.ProposedConversionDate.HasValue })
</div>
