@page "/task-list/{id:int}/risks-issues"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.RisksAndIssuesSection.ConfirmRisksAndIssues.Page;
	ViewData["Title"] = "Risks and issues";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.RisksAndIssuesSection.ConfirmRisksAndIssues" />
}

<h1 class="govuk-heading-l">Write about any risks or issues for this conversion</h1>
<govuk-textarea-input name="risks-and-issues" asp-for="Project.RisksAndIssues" rows="15" rich-text="true" />

