@page "/other-schools-in-mat/{id:int}"
@model Dfe.PrepareConversions.Pages.FormAMat.OtherSchoolsInMatModel
@{
   Model.SetErrorPage(Links.FormAMat.OtherSchoolsInMat.Page);
   ViewData["Title"] = "Other Schools in this MAT";
}

@section BeforeMain
{
   <a asp-page="@Links.ProjectList.Index" class="govuk-back-link">@Links.ProjectList.Index.BackText</a>
}
<partial name="Shared/_FormAMatProjectHeader" model="Model.Project" />

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">Other schools in this MAT</h2>
      <p class="govuk-body">Contents</p>
   </div>
</div>