@page "/form-a-mat/project-list"
@using Dfe.PrepareConversions.TagHelpers
@using Microsoft.FeatureManagement.Mvc.TagHelpers
@model Dfe.PrepareConversions.Pages.FormAMat.ProjectListModel
@{
    ViewData["Title"] = "Form a MAT Project list";
}

<div if="Model.Filters.IsVisible" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"
     data-cy="select-projectlist-filter-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
            Projects filtered.
        </h3>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" data-cy="select-heading">Form a MAT projects</h1>
        <p class="govuk-body">Find and manage existing form a MAT projects</p>
    </div>
    <div class="govuk-grid-column-one-third">

        <partial name="Shared/_ProjectListFilters" model="Model.Filters" />
    </div>
    <div class="govuk-grid-column-two-thirds">

        <div if="@Model.ProjectCount > 0">

         <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">Projects (@Model.ProjectCount)</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header app-!-width-three-fifths">Application information</th>
                </tr>
                </thead>
            <tbody class="govuk-table__body">
            @{
               <partial name="Shared/_ProjectListRows" model="Model.Projects" />
            }
            </tbody>
         </table>

            <partial name="Shared/_Pagination" model="Model" />
        </div>
    </div>
</div>