@page "/transfers/project/{urn}/eat-application"
@using Dfe.PrepareTransfers.Data.Models
@model Dfe.PrepareTransfers.Web.Pages.TaskList.EatApplication.EatApplication

@{
    ViewBag.Title = "EAT Application";
    Layout = "_Layout";
}

@if (Model.IsLoading)
{
    <meta http-equiv="refresh" content="0;url=/transfers/project/@Model.Urn/eat-application?fetch=true" />
}

@section BeforeMain
{
}
<partial name="_IncomingTrustHeading" model="@Model.Project" />

<div class="govuk-grid-column-full">
    <partial name="_SubMenu" model="@Model.Project.Reference" />
</div>

<div class="govuk-!-margin-bottom-12">
    @if (Model.IsLoading)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-l">Loading application details</h2>
                <p class="govuk-body">Please wait while we retrieve the application data...</p>
                <div class="govuk-!-margin-top-6">
                    <div style="border-left: 4px solid #1d70b8; padding-left: 20px;">
                        <p class="govuk-body govuk-!-font-weight-bold">Loading in progress</p>
                        <p class="govuk-body">This may take up to a minute. The page will automatically refresh when ready.</p>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        @Html.Raw(Model.HtmlContent)
    }
</div>

