@page "/transfers/project/{urn}/eat-application"
@using Dfe.PrepareTransfers.Data.Models
@model Dfe.PrepareTransfers.Web.Pages.TaskList.EatApplication.EatApplication

@{
    ViewBag.Title = "EAT Application";
    Layout = "_Layout";
}

@section BeforeMain
{
}
<partial name="_IncomingTrustHeading" model="@Model.Project" />

<div class="govuk-grid-column-full">
    <partial name="_SubMenu" model="@Model.Project.Reference" />
</div>

<div class="govuk-!-margin-bottom-12">
    @Html.Raw(Model.HtmlContent)
</div>

