@using Microsoft.Extensions.Primitives
@model Dfe.PrepareConversions.Pages.Shared.BackLink
@{
   StringValues redirect = Context.Request.Query["redirect"];
   var overideBackLink = false;
   if (!string.IsNullOrEmpty(redirect))
   {
      overideBackLink = true;
      Model.LinkPage = redirect;
   }
}

<a asp-page="@Model.LinkPage" asp-all-route-data="@Model.LinkRouteValues" class="govuk-back-link" data-cy="select-backlink">@(overideBackLink ? "Back" : Model.LinkText)</a>