@model Dfe.PrepareConversions.ViewModels.FilesViewModel

<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
    @Model.SectionName files
</legend>
<hr />


@foreach (var fileName in Model.FileNames)
{
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-!-text-align-left">
                    <p class="govuk-label">@fileName</p>
                </td>
                <td><button class="btn btn-default">Download</button></td>
              

            </tr>

        </tbody>
    </table>
}
