<header class="govuk-header" role="banner" data-module="govuk-header">
   <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
         <a asp-page="@Links.ProjectList.Index.Page" class="govuk-header__link govuk-header__link--homepage">
            <img src="~/src/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
         </a>
      </div>
   </div>
</header>