@using Microsoft.Extensions.Configuration
@using NetEscapades.AspNetCore.SecurityHeaders.TagHelpers
@inject IConfiguration Configuration

@{
   var analyticsConsent = Context.Request.Cookies.ContainsKey(".ManageAnAcademyConversion.Consent")
                          && bool.Parse(Context.Request.Cookies[".ManageAnAcademyConversion.Consent"] ?? string.Empty);

   var enableGoogleAnalytics = Configuration["GoogleAnalytics:Enable"] == "Yes" && analyticsConsent;
   var enableAppInsightsAnalytics = Configuration["ApplicationInsights:EnableBrowserAnalytics"] == "Yes" && analyticsConsent;

   var authenticatedUserId = User.Identity is not null && User.Identity.IsAuthenticated ? User.Identity.Name ?? "Unknown" : "Anonymous";
}

<!DOCTYPE html>
<html class="govuk-template" lang="en">
<head>
   <meta charset="utf-8"/>

   <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
   <meta name="theme-color" content="#0b0c0c">
   <meta name="robots" content="noindex, nofollow">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.ico" type="image/x-icon">
   <link rel="mask-icon" href="/assets/images/govuk-mask-icon.svg" color="#0b0c0c">
   <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/govuk-apple-touch-icon-180x180.png">
   <link rel="apple-touch-icon" sizes="167x167" href="/assets/images/govuk-apple-touch-icon-167x167.png">
   <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/govuk-apple-touch-icon-152x152.png">
   <link rel="apple-touch-icon" href="/assets/images/govuk-apple-touch-icon.png">

   <title>@ViewData["Title"] - Manage an academy conversion</title>
   <link rel="stylesheet" href="~/dist/site.css"/>

   @if (enableGoogleAnalytics)
    {
        <!-- Google Tag Manager -->
        <script asp-add-nonce>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                        new Date().getTime(), event: 'gtm.js'
                }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-5H6G773');
         </script>
         <!-- End Google Tag Manager -->
    }

    @if (enableAppInsightsAnalytics)
    {
      <!-- Application insights -->
      <script type="text/javascript" integrity="sha384-g/ZkzetdQypWdY0NBZT5r2L3BR9/hURD8OBcd1rEaBpgX6QC7EaTL+o+mzWrBcXW" crossorigin="anonymous" src="https://js.monitor.azure.com/scripts/b/ext/ai.clck.2.8.18.min.js"></script>
      <script type="text/javascript" asp-add-nonce>
         window.appInsights = {
            connectionString: '@Configuration["ApplicationInsights:ConnectionString"]',
            authenticatedUserId: '@authenticatedUserId'
         }
      </script>
      <script type="text/javascript" src="~/dist/application-insights.min.js" asp-add-nonce></script>
      <!-- End Application insights -->
    }
</head>
<body class="govuk-template__body ">

@if (enableGoogleAnalytics)
{
   <!-- Google Tag Manager (noscript) -->
   <noscript asp-add-nonce>
      <iframe title="GATagManager" src="https://www.googletagmanager.com/ns.html?id=GTM-5H6G773" height="0" width="0" style="display: none; visibility: hidden"></iframe>
   </noscript>
   <!-- End Google Tag Manager (noscript) -->
}

<script asp-add-nonce>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
</script>

<div class="govuk-width-container">
   @await RenderSectionAsync("BeforeMain", false)
   <main class="govuk-main-wrapper gov-main-wrapper--auto-spacing" id="main-content" role="main">
      @RenderBody()
   </main>
</div>
<script src="~/dist/site.js" asp-add-nonce></script>
</body>
</html>
