@{
    var notificationType = (string)TempData["NotificationType"];
    var notificationTitle = (string)TempData["NotificationTitle"];
    var notificationMessage = (string)TempData["NotificationMessage"];
}
@if (!string.IsNullOrEmpty(notificationType))
{
    <div class="govuk-notification-banner govuk-notification-banner--@notificationType" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @notificationTitle
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading" id="notification-message">
                @notificationMessage
            </h3>
        </div>
    </div>
}