@using Dfe.PrepareConversions.Data.Models
@* TO DO
	this layout relies on model data and would be better refactored as a partial
*@
@{
    Layout = "_Layout";
}

@section BeforeMain
{
    @await RenderSectionAsync("BeforeMain", false)
}

@if (Model.ShowError)
{
    <partial name="_ErrorSummary" />
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
      <form method="post" novalidate>
         <span class="govuk-caption-l">@ViewData["SchoolName"]</span>
         @RenderBody()
         <button class="govuk-button" id="save-and-continue-button" data-module="govuk-button" data-cy="select-common-submitbutton">
            Save and continue
         </button>
      </form>
   </div>

    @if (ViewData["AcademyTypeAndRoute"]!.Equals("Sponsored"))
    {
        <partial name="_SponsoredUsefulInformation" />
    }
    else if (ViewData["AcademyTypeAndRoute"].Equals(AcademyTypeAndRoutes.Voluntary) || ViewData["AcademyTypeAndRoute"].Equals(AcademyTypeAndRoutes.FormAMat))
    {
        <partial name="_UsefulInformation" />
    }
</div>