@page "/task-list/{id:int}/confirm-project-trust-rationale/trust-rationale"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.RationaleSection.ConfirmProjectAndTrustRationale.Page;
	ViewData["Title"] = "Trust or sponsor rationale";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.RationaleSection.ConfirmProjectAndTrustRationale" />
}

<h1 class="govuk-heading-l">Write the rationale for the trust or sponsor</h1>
<p class="govuk-hint">Explain why the trust is a good match for the school.</p>

<govuk-textarea-input name="trust-rationale" asp-for="Project.RationaleForTrust" rows="15" />
