@page "/task-list/{id:int}/confirm-project-trust-rationale/project-rationale"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.RationaleSection.ConfirmProjectAndTrustRationale.Page;
	ViewData["Title"] = "Project rationale";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.RationaleSection.ConfirmProjectAndTrustRationale" />
}

<h1 class="govuk-heading-l">Write the rationale for the project</h1>
<p class="govuk-hint">Edit the school's rationale to add your own analysis</p>
<govuk-textarea-input name="project-rationale" asp-for="Project.RationaleForProject" rows="15" />
