@page "/task-list/{id:int}/confirm-project-trust-rationale/trust-rationale"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	ViewData["Title"] = "Trust or sponsor rationale";
}

@section BeforeMain
{
	<a back-link-for="@Links.RationaleSection.ConfirmProjectAndTrustRationale"></a>
}

<h1 class="govuk-heading-l">Write the rationale for the trust or sponsor</h1>
<p class="govuk-hint">Explain why the trust is a good match for the school.</p>
<div class="govuk-form-group">
	<textarea class="govuk-textarea"
			  id="trust-rationale"
			  name="trust-rationale"
			  asp-for="Project.RationaleForTrust"
			  rows="15"
			  data-module="moj-rich-text-editor"
			  data-moj-rich-text-editor-toolbar="bold,italic,underline,bullets,numbers"></textarea>
</div>
<input name="SuccessPage" type="hidden" value="@Links.RationaleSection.ConfirmProjectAndTrustRationale.Page" />