@page "/task-list/{id:int}/confirm-project-trust-rationale/project-rationale"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	ViewData["Title"] = "Project rationale";
}

@section BeforeMain
{
	<a back-link-for="@Links.RationaleSection.ConfirmProjectAndTrustRationale"></a>
}

<h1 class="govuk-heading-l">Write the rationale for the project</h1>
<p class="govuk-hint">Edit the school's rationale to add your own analysis</p>
<div class="govuk-form-group">
	<textarea class="govuk-textarea"
			  id="project-rationale"
			  name="project-rationale"
			  asp-for="Project.RationaleForProject"
			  rows="15"
			  data-module="moj-rich-text-editor"
			  data-moj-rich-text-editor-toolbar="bold,italic,underline,bullets,numbers"></textarea>
</div>
<input name="SuccessPage" type="hidden" value="@Links.RationaleSection.ConfirmProjectAndTrustRationale.Page" />