@page "/groups/project-list"
@model Dfe.PrepareConversions.Pages.Groups.ProjectList

@{
   ViewData["Title"] = "Groups";
}

<div class="govuk-grid-row">
   <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" data-cy="select-heading">Groups</h1>
      <p class="govuk-body">Schools and academies joining an existing trust together.</p>
      <p class="govuk-body">Groups can include any type of conversion or transfer.</p>
      <a asp-page="@Links.Groups.CreateANewGroup.Page"  draggable="false" class="govuk-button" data-module="govuk-button">
         Create a new group
      </a>
      <div class="govuk-inset-text">
          There are no groups yet. Create groups to see them in this list.
          <br/>
          <br/>
          You will be able to edit groups once created.
         </div>
         
   </div>
</div>