@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/academy-order-required"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Academy order required";
	var values = new[] { "Yes", "No" };
}

@section BeforeMain
{
	<a back-link-for="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation"></a>
}

<h1 class="govuk-heading-l">Is an academy order required for this conversion?</h1>
<govuk-radios-input name="academy-order-required" asp-for="Project.AcademyOrderRequired" values="@values" labels="@values" />
