@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/author"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Author";
}

@section BeforeMain
{
	<a back-link-for="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation"></a>
}

<h1 class="govuk-heading-l">Enter the full name of the author of this headteacher board (HTB) template</h1>
<div class="govuk-form-group">
	<div id="author-hint" class="govuk-hint">
		Entering the person's name will not send the template to them. You will still need to add the template to Sharepoint when you download it.
	</div>
	<input id="author"
		   name="author"
		   type="text"
		   asp-for="Project.Author"
		   class="govuk-input govuk-input--width-20"
		   aria-describedby="author-hint"/>
</div>
