@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/clear-head-teacher-board-template"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Clear HTB template";
}

@section BeforeMain
{
	<a back-link-for="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation"></a>
}

<h1 class="govuk-heading-l">Enter the full name of the person who will clear the HTB template</h1>
<govuk-text-input name="cleared-by" asp-for="Project.ClearedBy" width="20" hint="Entering the person's name will not send the template to them. You will still need to add the template to Sharepoint when you download it." />