@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/head-teacher-board-date"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Head teacher board date";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation" />
}

<h1 class="govuk-heading-l">Set the headteacher board (HTB) date</h1>
<govuk-date-input name="head-teacher-board-date" asp-for="Project.HeadTeacherBoardDate" hint="For example, 21 11 2021" />