@page "/task-list/{id:int}/confirm-school-trust-information-project-dates/head-teacher-board-date"
@model ApplyToBecomeInternal.Pages.UpdateAcademyConversionProjectPageModel
@{
	Layout = "_QuestionLayout";
	Model.SuccessPage = Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation.Page;
	ViewData["Title"] = "Head teacher board date";
}

@section BeforeMain
{
	<govuk-back-link link-item="@Links.SchoolAndTrustInformationSection.ConfirmSchoolAndTrustInformation" />
}

@{
	var firstDate = DateTime.Today.FirstOfMonth(1);
	var values = Enumerable.Range(0, 12).Select(i => firstDate.FirstOfMonth(i).ToString()).ToArray();
	var labels = Enumerable.Range(0, 12).Select(i => firstDate.FirstOfMonth(i).ToDateString(true)).ToArray();
}

<h1 class="govuk-heading-l">Choose the HTB date for this project</h1>
<p class="govuk-body">Read through the school's application form to help you choose the best HTB date to aim for.</p>
<div class="govuk-form-group">
	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
			<h2 class="govuk-fieldset__heading">
				Region: North
			</h2>
		</legend>
		<govuk-radios-input name="head-teacher-board-date" asp-for="Project.HeadTeacherBoardDate" values="@values" labels="@labels" />
	</fieldset>
</div>
