@page "/public/accessibility"
@model ApplyToBecomeInternal.Pages.Public.AccessibilityStatement

@{
	ViewBag.Title = "Accessibility statement for the Manage an academy conversion service";
	Layout = "_Layout";
}

@section BeforeMain
{
	<a href="@Model.ReturnLink.Page" class="govuk-back-link">Back</a>
	<govuk-back-link link-item="@Model.ReturnLink" />
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			Accessibility statement for the Manage an academy conversion service
		</h1>
		<p class="govuk-body">
			The Manage an academy conversion service is run by the Service Design and
			Delivery team at the Department for Education (DfE).
		</p>
		<p class="govuk-body">
			We're committed to enabling you to use this service.
		</p>
		<p class="govuk-body">
			It's designed so that you can:
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>change colours, contrast levels and fonts</li>
			<li>zoom in up to 300% without the text spilling off the screen</li>
			<li>navigate most of the service using just a keyboard</li>
			<li>navigate most of the service using speech recognition software</li>
			<li>listen to most of the content on the service using a screen reader (including the most recent versions of JAWS, NVDA and Fusion)</li>
		</ul>
		<p class="govuk-body">
			We’ve also made the website text as simple as possible to understand.
		</p>
		<p class="govuk-body">
			<a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.
		</p>

		<h2 class="govuk-heading-l">How accessible the website is</h2>

		<p class="govuk-body">
			On parts of the website, there are some primary button labels that are not consistent, but have been defined based on user research.
		</p>

		<h3 class="govuk-heading-m">Reporting accessibility problems with this website</h3>
		<p class="govuk-body">
			We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email us at: ServiceDelivery.RDD@education.gov.uk. Enter 'Accessibility issues' in the subject line of the email.
		</p>

		<h3 class="govuk-heading-m">How to request content in an accessible format</h3>

		<p class="govuk-body">
			If you need information in a different format contact us by emailing ServiceDelivery.RDD@education.gov.uk, and tell us:
		</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>the web address (URL) of the content</li>
			<li>name and email address</li>
			<li>the format you need, for example, audio CD, braille, BSL or large print, accessible PDF</li>
		</ul>

		<h3 class="govuk-heading-m">Enforcement procedure</h3>

		<p class="govuk-body">
			The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
			(Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
			If you’re not happy with how we respond to your complaint, contact the
			<a class="govuk-link" target="_blank" href="https://www.equalityadvisoryservice.com/">
				Equality Advisory and Support Service (EASS) (opens in new tab)
			</a>.
		</p>

		<h2 class="govuk-heading-l">Contacting us by phone</h2>
		<p class="govuk-body">
			If you are having problems using this service and you need help, call the Department for Education on
			0370 000 2288.
		</p>

		<h2 class="govuk-heading-l">Technical information about this website's accessibility</h2>
		<p class="govuk-body">
			The Department of Education (DfE) is committed to making its website accessible, in accordance with the
			Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
		</p>

		<h3 class="govuk-heading-m">Compliance status</h3>
		<p class="govuk-body">
			This website complies with the Web Content Accessibility Guidelines version 2.1 AA standard.
		</p>

		<h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
		<p class="govuk-body">
			This statement was prepared on 28 October 2021. It was last reviewed on 28 October 2021.
		</p>
		<p class="govuk-body">
			This website was last tested on 18 October 2021. The test was carried out by the Department for Education.
		</p>
	</div>
</div>