name: Cypress Tests using Cypress Docker Image

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      AZURE_ENDPOINT:
        required: true
      CYPRESS_TEST_SECRET:
        required: true
      CYPRESS_ACADEMISATION_API_URL:
        required: true
      CYPRESS_ACADEMISATION_API_KEY:
        required: true
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to run tests against'
        required: true
        type: environment

concurrency:
  group: ${{ github.workflow }}

jobs:
  cypress-tests:
    name: Run Cypress Tests (${{ matrix.test-suite }})
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    defaults:
      run:
         working-directory: ./Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests
    strategy:
      fail-fast: false
      matrix:
        browser: ["edge"]
        test-suite: ["conversions", "transfers"]
    container:
      image: cypress/browsers:22.13.1@sha256:914c9814a9567f32660203db7ecd610b8f8fede6e9103885728b3bd3f6dca4ff
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}

      - name: Run Cypress Tests (${{ inputs.environment }} - ${{ matrix.test-suite }})
        if: inputs.environment == 'staging' || inputs.environment == 'dev'
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_url: ${{ secrets.AZURE_ENDPOINT }}
          CYPRESS_cypressTestSecret: ${{ secrets.CYPRESS_TEST_SECRET }}
          CYPRESS_academisationApiUrl: ${{ secrets.CYPRESS_ACADEMISATION_API_URL }}
          CYPRESS_academisationApiKey: ${{ secrets.CYPRESS_ACADEMISATION_API_KEY }}
        with:
          browser: ${{ matrix.browser }}
          working-directory: ./Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests
          wait-on: ${{ secrets.AZURE_ENDPOINT }}
          spec: cypress/e2e/${{ matrix.test-suite }}/**/*.cy.ts

      - name: Upload screenshots (Cypress Tests)
        if: ${{ failure() }}
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: screenshots-${{ inputs.environment }}-${{ matrix.browser }}-${{ matrix.test-suite }}
          path: Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/cypress/screenshots

      - name: Combine reports
        if: always()
        run: |
          mkdir -p mochareports
          npm run combine:reports

      - name: Generate HTML report
        if: always()
        run: |
          npm run create:html:report

      - name: Upload reports
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: combined-reports-${{ inputs.environment }}-${{ matrix.browser }}-${{ matrix.test-suite }}
          path: Dfe.PrepareConversions/Dfe.PrepareConversions.CypressTests/mochareports/*.html

      - name: Report results to Teams
        if: always()
        run: |
          node scripts/send-teams-notification.js
        env:
          TEAMS_WEBHOOK_URL: ${{ secrets.TEAMS_WEBHOOK_URL }}
          ENVIRONMENT: ${{ inputs.environment }}
          INFORMATION_LINK: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          TEST_SUITE: ${{ matrix.test-suite }}      